*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
    
}
$fontColor1 : grey;
$fontColor2: white;
body{
    background-image: url(./2110.jpg);
    width: 100vw;
    height: 100vh;
}
.mainbody{
    width: 100%;
    height: 100%;

    #navbar{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
    }
  .about{
      margin-top: 40px;
      position: relative;

      .topCrousel{
        width: 100%;
        height: 100%;
        background-color: rgba(23, 19, 49, 0.384);
        padding: 20px;
        
       // #crouselImage{
        .carousel-item {
            width: 30%;
            height: 30%;
            margin-left: 30%;
            border: 2% solid rgba(107, 46, 46, 0.514);
            border-radius: 5%;
            box-shadow: 1px 2px 2px 2px white;
        }
       }
       //jumbotron
       .jumboFlex{
           display: inline;
           display: flex;
           margin: 0;
           padding: 10px;
           background-color: rgba(178, 187, 93, 0.082);
           color: $fontColor2;
           
           .jumbotron{
            position: relative;
            width: 110vh;
            height: 110%;
            padding: 0;
            margin: 0;
            background-color: rgba(178, 187, 93, 0);
            color: $fontColor2;
            border: none;
            }
        
            #introImage{
                position: absolute;
                width: 35%;
                height: 50%;
                right: 20px;
                text-align: center;
                border: 2% solid rgba(107, 46, 46, 0.514);
                border-radius: 5%;
                box-shadow: 1px 2px 2px 2px white;
           
            }

        }  
        .footer{
            position:absolute;
            height: 100px;
            width: 100vw;
            background-color: rgb(84, 105, 62);
            margin-top: 30%;
            
            p{
                text-align: center;
                color: lawngreen;
                top: 10px;
            }
        }
    }  
    
            
}
