<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Question 1
    body
        header
            h1(style="text-align:center;background-color: grey")  Excel Uploader
        
        main
            form(action="http://localhost:3000/upload", enctype="multipart/form-data", method="post")
                input(type="file", name="excel")
                button(type="submit") Upload