
body{
    background-image: url(./back.jpg);
    width: 100vw;
    height: 100vh;
}

.grid-container{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 60px;
  grid-template-rows: repeat(5, 2fr) ;
  grid-column-gap:8px;
  grid-row-gap: 8px;
  width: 95%;
  height: 80%;
  left: 2.5%;
  top: 10%;  
}

.carBox{
  background-image: linear-gradient(to right,#44B09E, #E0D2C7, #44B09E );
  border: 1px solid black;
  border-radius:5% ; 
  box-shadow: 2px 1px 2px 2px black;

}
#card{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------*/
label[for=test] {
    display:block;
    -webkit-perspective: 800px;
    perspective: 800px;
  }
  
  .reversible {
    position: relative;
    width: 250px;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 1s ease;
    transition: all 1s
  }
  
  input[type=checkbox]:checked + label .reversible {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .reversible .card {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  
  .tile-front {
    z-index: 2;
  }
  
  .tile-back {
    -webkit-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
  }
  h1{
      color: grey;
      align-items: center;
      justify-content: center;
      display: flex;
  }
  .card-body {
      top: 10%;
    font-size: 1rem;
    color:black;
    text-align: center;
  }
  .card-footer {
    font-size: 2rem;
  }
  
  
  .card {
    background-color: white;
    height: auto;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(218, 201, 201, 0.15);
  
  }